body {
  color:#333;
  font-family:arial, helvetica, sans-serif;
  font-size:9pt;
  margin:0;
  padding:0;
  text-align: center;
	background:#fff;
}

img { border:None; }

a { color:#111166; text-decoration: none; }
a:hover { color:#DB8606; text-decoration: none; }

table input { width: auto; height: auto; }

select {
    border: 1px solid #999;
    border-right-color: #DDD;
    border-bottom-color: #DDD;
    width: auto;
}

.input {
  padding:2px 0 8px 0;
}

p, ul, ol, dl {
    margin: 0 0 1em;
    font-size: 0.9em;
}


hr {
    border:none;
    border-bottom:1px solid #ccc;
    margin:2px 0 2px 0;
}


td,th {
    FONT-FAMILY: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #3E3E3E;
    text-decoration: none;
    border: none;
    vertical-align:top;;
}

strong { color:#000; }
.clear { clear:both; height:10px; }

.centered {
    text-align:center;
}

.hide{
    visibility: hidden;
    position:absolute;
}

.show {
    padding-left:20px;
}


#container {
  width:84%;
  min-width:840px;
  text-align: left;
  margin:5px auto 0 auto;
  background:url(../images/pagebg.jpg) top left repeat-x #fff;
  border:1px solid #ccc;
}

#footer {
  background:url(../images/footerbg.jpg) top left repeat-x #fff;
  padding:14px 5px 2px 5px;
  text-align:center;
  margin:0 auto 0 auto;
  font-style:italic;
}

#content {
	padding:0 5px 0 5px;
}
    

  #header {
    padding:0 20px 0 20px;
    height:72px;
  }

    #logo { 
      width:188px;
      height:72px;
      display:block;
      float:left;
    }

    #info {
      width:auto;
      padding:10px 10px 10px 10px;
      border:1px solid #ccc;
      background:#ececec;
      margin:4px 0 0 0;
      float:right;
      text-align:center;
   }
    #info a {
      color:#111166;
      font-weight:bold;
    }
    #info a:hover { color: #ff7c01; }
  
  #nav {
    clear:both;
    padding:10px 0 0 30px;
  }

    #nav ul {
      clear:both;
      margin:0;
      padding:0 0 0 0;
    }
    
    #nav ul li {
      list-style:none;
      margin:0;
      padding:0;
      display:inline;
    }
    
    #nav ul li a {
      display:block;
      float:left;
      margin:0 0 0 9px;
      text-decoration:none;
    }

    #nav ul#main_nav {
        padding-left:40px;
    }
    
    #nav ul#main_nav li a {
      background:url(../images/tab.jpg) bottom left no-repeat #fff;
      width:110px;
      height:23px;
      line-height:23px;
      text-align:center;
      color:#888;
      font-weight:bold;
      font-size:8pt;
    }
    
    #nav ul#main_nav li a.active {
      background:url(../images/tab.jpg) top left no-repeat #333;
      color:#000;
    }

    #nav ul#main_nav li a.active:hover {
      color:#000;
    }

    #nav ul#main_nav li a:hover {
      color:#FF7C01;
    }    
    
    #nav ul#sub_nav li a {
      height:16px;
      line-height:16px;
      padding:5px 10px 5px 25px;
      font-weight:bold;
    }

   #nav ul#sub_nav li a:hover {
        color:#FF7C01;
    }
    

    /** Individual Sub-nav items **/
    
    #nav a.Ticket { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.assignedTickets { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.overdueTickets { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.closedTickets { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.newTicket { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }

    #nav a.stdreply { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.newStdreply { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }

    #nav a.staff { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.user { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.userPref { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.userPasswd { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }

    #nav a.preferences { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.attachment { background:url(../images/icons/v_bar.gif ) 0 5px no-repeat #ececec; }
    #nav a.api { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
   
    #nav a.syslogs { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }

    #nav a.emailTemplates { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.emailSettings { background:url(../images/icons/v_bar.gif) 0px 5px no-repeat #ececec; }
    #nav a.newEmail { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.banList { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }

    #nav a.users { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.newuser { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.roles { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }
    #nav a.newrole { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }

   
    #nav a.helpTopics { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.newHelpTopic { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }

    #nav a.departments { background:url(../images/icons/void.gif) 0 5px no-repeat #ececec; }
    #nav a.newDepartment { background:url(../images/icons/v_bar.gif) 0 5px no-repeat #ececec; }


    /* Generic CSS based Icons. use=> <tag class="Icon iconname">text</tag> */
    .Icon {
        width: auto;           
        padding-left:20px;
        background-position: left center;
        background-repeat: no-repeat;
    }

    a.Icon { }

    a.Icon:hover {
        text-decoration: underline;
    }

    .Icon.Ticket { background:url(../images/icons/ticket.gif) 0 2px no-repeat; }
    .Icon.webTicket { background:url(../images/icons/ticket_source_web.gif) 0 0 no-repeat; }
    .Icon.emailTicket { background:url(../images/icons/ticket_source_email.gif) 0 0 no-repeat; }
    .Icon.phoneTicket { background:url(../images/icons/ticket_source_phone.gif) 0 0 no-repeat; }
    .Icon.otherTicket { background:url(../images/icons/ticket_source_other.gif) 0 0 no-repeat; }
    .Icon.overdueTicket { background:url(../images/icons/overdue_ticket.gif) 0 0 no-repeat; }
    .Icon.assignedTicket { background:url(../images/icons/assigned_ticket.gif) 0 0 no-repeat; }
    .Icon.lockedTicket { background:url(../images/icons/locked_ticket.gif) 0 0 no-repeat; }
    .Icon.editTicket { background-image: url(../images/icons/edit_ticket.gif); }

    .Icon.file { background-image: url(../images/icons/file.gif); }
    .Icon.refresh { background-image: url(../images/icons/refresh.gif); }
    .Icon.note { 
        font-weight: bold;
        font-size: 1em;
        background-image: url(../images/icons/note.gif); 
    }
    .Icon.thread { 
        font-weight: bold;
        font-size: 1em;
        background-image: url(../images/icons/thread.gif); 
    }

    .Icon.debugLog { background:url(../images/icons/log_debug.gif) 0 2px no-repeat; }
    .Icon.alertLog { background:url(../images/icons/log_alert.gif) 0 2px no-repeat; }
    .Icon.errorLog { background:url(../images/icons/log_error.gif) 0 2px no-repeat; }

    /*System Notice */
        #system_notice {
                width:790px;
                text-align:left;
                font-size: 12px;
                margin:0 auto -5px auto;
                padding:5px 10px 5px 40px;
                border:1px solid #9FABB9;
                background:url(../images/alert.png) 5px 50% no-repeat #ffd;
        }

        #system_notice a { color:#600; font-weight: bold;}
